
body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    width: 100%;
    font-family:  Helvetica, sans-serif;
}

h5 {
    font-size: 14px;
    font-weight:normal;
    margin: 10px 0;
}

h1 {
    margin: 10px;
    font-family:  Helvetica, sans-serif;
    font-weight: normal;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}

footer {
    margin: 15px;
    font-size: 12px;
}